<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>

    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="due_date">Due Date:</label>
      <input type="date" id="due_date" name="due_date" value=<%= reminderItem.due_date %> required>
    </div>
    <div class="form-group tag-group">
      <label for="tags">Tags:</label>
      <input type="button" id="tag_btn" name="tag_btn" value="Add Tags">
      <br>
      <% reminderItem.tags.forEach((el) => { %>
        <input type="text" id="tags" name="tags" value="<%= el %>"><br>
      <% }) %>
    </div>
    <div class="form-group subtask-group">
      <label for="tasks">Subtasks:</label>
      <input type="button" id="subtask_btn" name="subtask_btn" value="Add Subtasks">
      <br>
      <% reminderItem.subtasks.forEach((el) => { %>
        <input type="text" id="subtasks" name="subtasks" value="<%= el %>"><br>
      <% }) %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <script src="/script.js"></script>
  </form>
</div>
